In [ ]:
#Stack overflow questions

Q1:
I have two multi-index dataframes (indices are not unique) of different rows and columns. Level 0 specifies group, level 1 specifies material for both. 

In dataframe `dfA` and `dfB`, there is a column called `SR`. 

The task is to merge the two dataframes based on the multi-index and the column `SR`. The `SR` entries in `dfB` which are not in `dfA` should be replaced by `np.nan`

In [36]:
#Multi-index DataFrame:
import pandas as pd
import numpy as np
tupA = [('G1','M1')]*3 + [('G1','M2')] + [('G2','M3')]*2
indA = pd.MultiIndex.from_tuples(tupA, names = ['Group', 'Material'])

dfA = pd.DataFrame({'SR': [3,5,10, 3,5,15],
                   'ValA': [1,2,1,4,5,6]},
                   index = ind
                  )

tupB = [('G1','M1')]*2 + [('G1','M2')] + [('G2','M3')]
indB = pd.MultiIndex.from_tuples(tupB, names = ['Group', 'Material'])

dfB = pd.DataFrame({'SR': [3,5,3,5],
                   'ValB': [2,4,5,6]},
                   index = indB
                  )
print(dfA,'\n', dfB)

                SR  ValA
Group Material
G1    M1         3     1
      M1         5     2
      M1        10     1
      M2         3     4
G2    M3         5     5
      M3        15     6
                 SR  ValB
Group Material
G1    M1         3     2
      M1         5     4
      M2         3     5
G2    M3         5     6

In [37]:
dfout = pd.DataFrame({'SR': [3,5,10, 3,5,15],
                   'ValA': [1,2,1,4,5,6],
                   'ValB': [2,4,np.nan,5,6,np.nan ]},
                   index = indA
                  )
print(dfout)

                SR  ValA  ValB
Group Material
G1    M1         3     1   2.0
      M1         5     2   4.0
      M1        10     1   NaN
      M2         3     4   5.0
G2    M3         5     5   6.0
      M3        15     6   NaN

In [41]:
dfA.merge(dfB,
          how = 'inner',
          #on = 'SR',
          left_index = True,
          right_index = True
          
)

                SR_x  ValA  SR_y  ValB
Group Material
G1    M1           3     1     3     2
      M1           3     1     5     4
      M1           5     2     3     2
      M1           5     2     5     4
      M1          10     1     3     2
      M1          10     1     5     4
      M2           3     4     3     5
G2    M3           5     5     5     6
      M3          15     6     5     6

In [ ]:
<b>TL;DR:</b> Merge two dataframes based on their multi-indices and a column that they share.

The two multi-index dataframes (call them `dfA` and `dfB`) do not have unique indices and are of different shapes. However level 0 of the index specifies group, level 1 specifies material for both. In dataframe `dfA` and `dfB`, there is a column called `SR`.

The correct identification would therefore involve both indices and the value of the `SR` column.

    import pandas as pd
    import numpy as np
    tupA = [('G1','M1')]*3 + [('G1','M2')] + [('G2','M3')]*2
    indA = pd.MultiIndex.from_tuples(tupA, names = ['Group', 'Material'])
    
    dfA = pd.DataFrame({'SR': [3,5,10, 3,5,15],
                       'ValA': [1,2,1,4,5,6]},
                       index = ind
                      )
    
    tupB = [('G1','M1')]*2 + [('G1','M2')] + [('G2','M3')]
    indB = pd.MultiIndex.from_tuples(tupB, names = ['Group', 'Material'])
    
    dfB = pd.DataFrame({'SR': [3,5,3,5],
                       'ValB': [2,4,5,6]},
                       index = indB
                      )
    print(dfA,'\n', dfB) 

Yields:

                    SR  ValA
    Group Material          
    G1    M1         3     1
          M1         5     2
          M1        10     1
          M2         3     4
    G2    M3         5     5
          M3        15     6 
                     SR  ValB
    Group Material          
    G1    M1         3     2
          M1         5     4
          M2         3     5
    G2    M3         5     6


<b>The Task:</b>

To merge the two dataframes based on the multi-index and the column `SR`. The `SR` entries in `dfB` which are not in `dfA` should be replaced by `np.nan`.


<b>Desired Output</b>:

The merged dataframe should be something like this:

                    SR  ValA  ValB
    Group Material                
    G1    M1         3     1   2.0
          M1         5     2   4.0
          M1        10     1   NaN
          M2         3     4   5.0
    G2    M3         5     5   6.0
          M3        15     6   NaN
It has all the rows of `dfA` but for those `SR` values which are not in `dfB` it has `NaN`.


<b>Attempt at Solution:</b>

I tried a number of left and outer joins but I can't get the `NaN`. The documentation does have an example which gives `NaN` but it's not using multi-indices. 

Would appreciate some help.